<app-loader></app-loader>

<div class="header-container">
  <button mat-button class="btn-refresh" (click)="refreshPage()">
    Refresh
  </button>
</div>

<div class="wrapper" [ngClass]="{ 'sidebar-open': isSidebarOpen }">
  <div class="dashboard-container">
    <button mat-raised-button class="btn-adduser" (click)="openAddUserModal()">
      Add User
    </button>
    <div class="stats-container"></div>
  </div>

  <div class="parent-container">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Employee</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of requests">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button
                class="btn-edit"
                mat-button
                (click)="openEditUserModal(user)"
              >
                Edit
              </button>
              <ng-container *ngIf="user.visibilityStatus === 'Enabled'">
                <button
                  class="btn-view"
                  mat-button
                  (click)="openDisableModal(user)"
                >
                  Disable
                </button>
              </ng-container>

              <!-- Enable Button: shows only if visibilityStatus is 'Disabled' -->
              <ng-container *ngIf="user.visibilityStatus === 'Disabled'">
                <button
                  class="btn-view"
                  mat-button
                  (click)="openEnableModal(user)"
                >
                  Enable
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="pagination-controls">
    <button mat-button (click)="prevPage()" [disabled]="pageIndex === 0">
      Previous
    </button>
    <span>Page {{ pageIndex + 1 }} of {{ totalPages() }}</span>
    <button
      mat-button
      (click)="nextPage()"
      [disabled]="pageIndex >= totalPages() - 1"
    >
      Next
    </button>
  </div>

  <app-add-user-modal
    *ngIf="isModalOpen"
    (closeModal)="isModalOpen = false"
    [ngClass]="{ show: isModalOpen }"
    (userAdded)="handleUserUpdated($event)"
  ></app-add-user-modal>

  <app-edit-user-modal
    *ngIf="isEditUserModalOpen"
    [user]="selectedUser"
    (closeModal)="isEditUserModalOpen = false"
    (userUpdated)="handleUserUpdated($event)"
  ></app-edit-user-modal>
</div>
