<!-- Fullscreen overlay -->
<div class="modal-overlay">
  <div class="modal">
    <mat-card class="payment-card">
      <mat-card-title class="title">
        Request Details for {{ employeeName }}
      </mat-card-title>

      <mat-card-content>
        <!-- General Request Details -->
        <div class="table-container">
          <table class="details-table">
            <tr>
              <th>Employee</th>
              <td>{{ paymentSchedule?.userName }}</td>
            </tr>
            <tr>
              <th>Request Date</th>
              <td>{{ paymentSchedule?.requestDate | date : "medium" }}</td>
            </tr>
            <tr>
              <th>Date Needed</th>
              <td>{{ paymentSchedule?.neededDate | date : "mediumDate" }}</td>
            </tr>
            <tr>
              <th>Amount</th>
              <td>
                <strong
                  >₱{{ paymentSchedule?.amount | number : "1.2-2" }}</strong
                >
              </td>
            </tr>
            <tr>
              <th>Months to Pay</th>
              <td>{{ paymentSchedule?.monthsToPay }}</td>
            </tr>
            <tr>
              <th>Purpose</th>
              <td>{{ paymentSchedule?.reason }}</td>
            </tr>
            <tr>
              <th>Request Status</th>
              <td>{{ paymentSchedule?.requestStatus }}</td>
            </tr>
          </table>
        </div>

        <!-- Payment Schedule Table -->
        <div class="table-container">
          <h3>Payment Schedule</h3>
          <table class="custom-table">
            <thead>
              <tr>
                <th>Payment Date</th>
                <th>Amount</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let payment of paymentSchedule?.paymentSchedule">
                <td>{{ payment.paymentDate | date : "mediumDate" }}</td>
                <td>₱{{ payment.amount | number : "1.2-2" }}</td>
                <td>{{ payment.paymentStatus }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>

      <mat-card-actions class="action-buttons">
        <button mat-button class="close-button" (click)="closeModal()">
          Close
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
